.App {
  text-align: center;
}

.table-main {
  border : 1px black solid;
  width : 30%;
  margin : auto;
  padding : 10px;
}

td {
  width : 10%;
  text-align: left;
  margin : auto;
}

.table-head {
  width : 10%;
  border : 1px blue solid;
  border-color: blue black black blue;
  border-width: 1px 2px 2px 1px;
  text-align: center;
  margin : auto;
  padding : 5px;
}

.table-list {
  border: 1px green solid;
  text-align: left;
  vertical-align:top;
  margin:0;
}

ul {
  text-align: left;
  border : 1px black dotted;
}
